body {
    background:linear-gradient(to right, #e4dedcd2, #e0dcd96b), url(./images/pexels-leticia-alvares-1805702-14081998.jpg);
    font-family: "Roboto", sans-serif;
}
.fa-solid, .fa-brands {
    padding: 0.3em;
    margin-right: 0.2em;
    color: rgb(185, 150, 104);
}
h2 {
    font-family: "Roboto Mono", monospace;
}
span {
    color: rgb(185, 150, 104);
}
#typing {

    width: 45%;
    /* outline: 1px solid red; */
    margin: 0 auto;
    border-right: .15em solid rgb(185, 150, 104);
    animation: type 4s steps(15) infinite;
    letter-spacing: .15em;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes type {
    0% { width: 0; }
    100% { width: 470px; }
}



  

.perspective-1000 {
    perspective: 1000px;
  }
 
  
  .card {
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  .card:hover {
    transform: rotateY(180deg);
  }
  .card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .card-back {
    transform: rotateY(180deg);
  }