body {
    background-color: #eaddd7;
    font-family: "Roboto", sans-serif;
}
.fa-solid, .fa-brands {
    padding: 0.3em;
    margin-right: 0.2em;
    color: rgb(185, 150, 104);
}
h2 {
    font-family: "Roboto Mono", monospace;
}
span {
    color: rgb(185, 150, 104);
}
#typing {

    width: 45%;
    /* outline: 1px solid red; */
    margin: 0 auto;
    border-right: .15em solid rgb(185, 150, 104);
    animation: type 4s steps(15) infinite;
    letter-spacing: .15em;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes type {
    0% { width: 0; }
    100% { width: 470px; }
}


/* #change:hover {
    animation: flip 5s ease-in-out ;
    
}
@keyframes flip {
    0%, 100% { transform: rotateY(0)}
    50% { transform: rotateY(180deg);} 
}
/* #change:hover::before {
    content: "";
   
}

#change:hover::after {
    content: "Neuer Inhalt";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 18px;
    text-align: center;
    opacity: 1;
} */
.perspective-1000 {
    perspective: 1000px;
  }
  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  .card {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    
  }
  .card:hover {
    transform: rotateY(180deg);
  }
  .card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .card-back {
    transform: rotateY(180deg);
  }